/* Ajouter la police de Noël */

/* Style du titre */
h1 {
  text-align: center; /* Centre le titre */
  color: #d50000; /* Rouge vif */
  font-size: 3rem; /* Taille du texte */
  margin: 20px 0; /* Marge au-dessus et en-dessous */
}

/* Conteneur pour le calendrier */
.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
}

.case {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f85f73;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

.case:hover {
  background-color: #f8b400;
  transition: background-color 0.3s ease;
}

/* Ajouter une bordure à chaque case */
.case {
  border: 3px solid #ffffff;
  box-sizing: border-box;
}
